/__pycache__
/src/__pycache__
/src/config/__pycache__
/src/controllers/__pycache__
/src/middlewares/__pycache__
/src/models/__pycache__
/src/repositories/__pycache__
/src/services/__pycache__
/src/utils/__pycache__
/src/workers/__pycache__
/uploads/
/outputs/
